.App {
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/566/733/non_2x/workout-with-suspension-straps-in-the-outdoor-gym-strong-man-training-early-in-morning-on-the-park-sunrise-or-sunset-in-the-sea-background-free-photo.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
}


.espaciadorTarjetas{
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  
}


.espaciadorGaleriaYPromos{
  display: flex;
  margin-bottom: 0;
  height: 500px;
  
}

.footer{
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.781);
  height: 100px;
  
}